.item {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
}

.actions {
    display: flex;
    align-items: center;
}

.fold {
    display: inline-block;
    max-height: 23px;
    max-width: 60%;
    overflow: hidden;
}

.unfold {
    display: inline-block;
}

.content {
    display: inline-block;
}
