.button {
  /* border: none; */
  /* border-radius: calc(var(--rem) * 1.5); */

  padding-top: calc(var(--rem) * 3);
  padding-bottom: calc(var(--rem) * 3);
  padding-left: calc(var(--rem) * 6);
  padding-right: calc(var(--rem) * 6);

  /* background-color: var(--color-button-default); */

  /* font-family: var(--title-font); */
  /* font-weight: 400; */
  /* font-size: calc(var(--rem) * 4); */
  /* line-height: calc(var(--rem) * 5.5); */
  /* color: var(--color-font-accent); */

  /* cursor: pointer; */
}

/* .button:hover { */
/*   background-color: var(--color-button-hover); */
/* } */

/* .button:active { */
/*   background-color: var(--color-button-active); */
/* } */

/* .button:focus { */
/*   outline: var(--rem) solid var(--color-button-focus); */
/* } */
