.row {
  position: relative;
}

.row::before {
  position: absolute;
  top: calc(var(--rem) * 5);
  left: calc(var(--rem) * 3.5);

  display: block;
  width: calc(var(--rem) * 2);
  height: 100%;

  background-color: var(--color-font-base);

  content: '';
}

.row.last::before {
  display: none;
}

.date {
  position: relative;

  display: block;
  padding-left: calc(var(--rem) * 12);

  background-image: radial-gradient(
    circle at calc(var(--rem) * 4.5) 50%,
    var(--color-background) calc(var(--rem) * 2),
    var(--color-font-base) calc(calc(var(--rem) * 2) + 1px),
    var(--color-font-base) calc(var(--rem) * 4),
    var(--color-background) calc(calc(var(--rem) * 4) + 1px),
    var(--color-background) calc(var(--rem) * 4.5),
    transparent calc(calc(var(--rem) * 4.5) + 1px)
  );

  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(var(--rem) * 10);
  line-height: 1.2em;
  color: var(--color-font-base);
}

.content {
  padding-left: calc(var(--rem) * 10);
}

.stars {
  box-sizing: border-box;
  display: flex;

  padding: calc(var(--rem) * 2);
  width: calc(100% - calc(var(--rem) * 7));

  gap: var(--rem);

  overflow-x: hidden;
}

.star {
  display: inline-flex;
  border-radius: 50%;
  border: none;

  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  width: calc(var(--rem) * 8);
  height: calc(var(--rem) * 8);

  background-color: var(--color-accent);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(var(--rem) * 3);
  color: var(--color-font-accent);

  cursor: pointer;
}
