.container {
  display: inline-block;
}

.menu {
  position: absolute;

  display: none;
}

@media (max-width: 600px) {
  .menu {
    right: 0;
  }
}

.menu.opened {
  display: grid;
}

.menuButton {
}
