.title {
  margin-top: 0;
  margin-bottom: calc(var(--rem) * 8);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(var(--rem) * 10);
  line-height: 1.2em;
  color: var(--color-font-base);
}
