.overview {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .overview {
    width: calc(var(--rem) * 109);
  }
}

.container {
  overflow: scroll;
}

.items {
}

.item {
}
