/* dropdown */

.dropdown {
  display: inline-block;

  position: relative;
}

/* menu */

.menu {
  position: absolute;
  top: calc(var(--rem) * 14);
  z-index: 10;

  display: none;
  box-sizing: border-box;

  border-radius: calc(var(--rem) * 1.5);
  padding: var(--rem);
  min-width: 100%;

  grid-auto-rows: max-content;
  gap: var(--rem);

  box-shadow: var(--rem) var(--rem) calc(var(--rem) * 4) var(--color-shadow);

  background-color: var(--color-background);
}

.menu.opened {
  display: grid;
}

/* dropdownButton */

.dropdownButton {
  border: none;
  border-radius: calc(var(--rem) * 1.5);

  padding-top: calc(var(--rem) * 3);
  padding-bottom: calc(var(--rem) * 3);
  padding-left: calc(var(--rem) * 6);
  padding-right: calc(var(--rem) * 6);

  background-color: var(--color-button-default);

  font-family: var(--title-font);
  font-weight: 400;
  font-size: calc(var(--rem) * 4);
  line-height: calc(var(--rem) * 5.5);
  color: var(--color-font-accent);

  cursor: pointer;
}

.dropdownButton:hover {
  background-color: var(--color-button-hover);
}

.dropdownButton:active {
  background-color: var(--color-button-active);
}

.dropdownButton:focus {
  outline: var(--rem) solid var(--color-button-focus);
}

.dropdownButton::after {
  content: "";
  display: inline-block;

  width: 0;
  height: 0;

  margin-left: calc(var(--rem) * 2);

  border-left: calc(var(--rem) * 1.5) solid transparent;
  border-right: calc(var(--rem) * 1.5) solid transparent;
  border-top: calc(var(--rem) * 1.5) solid currentColor;
  border-bottom: none;

  vertical-align: middle;
}

.dropdownButton.opened::after {
  content: "";
  display: inline-block;

  width: 0;
  height: 0;

  margin-left: calc(var(--rem) * 2);

  border-left: calc(var(--rem) * 1.5) solid transparent;
  border-right: calc(var(--rem) * 1.5) solid transparent;
  border-top: none;
  border-bottom: calc(var(--rem) * 1.5) solid currentColor;

  vertical-align: middle;
}
