/* dropdown */

.dropdown {
  display: inline-block;

  position: relative;
}

/* menu */

.menu {
  position: absolute;
  top: calc(var(--rem) * 14);
  z-index: 10;

  display: none;
  box-sizing: border-box;

  border-radius: calc(var(--rem) * 1.5);
  padding: var(--rem);
  min-width: 100%;

  grid-auto-rows: max-content;
  gap: var(--rem);

  box-shadow: var(--rem) var(--rem) calc(var(--rem) * 4) var(--color-shadow);

  background-color: var(--color-background);
}

.menu.opened {
  display: grid;
}
