.header {
  padding-top: calc(var(--rem) * 16);
  padding-bottom: calc(var(--rem) * 16);
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;

  font-family: var(--title-font);
  font-size: calc(var(--rem) * 16);
  font-weight: 900;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-font-base);
}

@media (max-width: 600px) {
  .title {
    font-size: calc(var(--rem) * 12);
  }
}

.panel {
  flex: 2;
}

.reponame {
  flex: 1;
}
