/* star, waypoint */

.star {
  display: inline-flex;
  border-radius: 50%;
  border: none;

  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  width: calc(var(--rem) * 8);
  height: calc(var(--rem) * 8);

  background-color: var(--color-button-default);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(var(--rem) * 3);
  color: var(--color-font-accent);

  cursor: pointer;
}

.star:hover {
  background-color: var(--color-button-hover);
}

.star:active {
  background-color: var(--color-button-active);
}

.star:focus {
  outline: none;
  box-shadow: inset 0 0 0 var(--rem) var(--color-button-focus);
}

/* add, itinerary */

.add {
  display: inline-flex;
  float: left;
  border-radius: 50%;
  border: none;

  opacity: 0;

  justify-content: center;
  align-items: center;

  width: calc(var(--rem) * 8);
  height: calc(var(--rem) * 8);

  background-color: var(--color-background);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: calc(var(--rem) * 5);
  color: var(--color-font-base);

  cursor: pointer;

  position: absolute;
  top: calc(var(--rem) * 2);
  left: calc(var(--rem) * 0.5);
}

.add:hover {
  opacity: 100;
  transition-delay: 0.08s;
}

.add:hover ~ .date {
  display: none;
  background-image: none;
}
