@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
  --title-font: 'Rubik Mono One', sans-serif;

  --rem: 0.277777vw;
  --col: 2.5vw;
}

@media (max-width: 600px) {
  :root {
    --rem: 0.8vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fff;
    --color-font-base: #222;
    --color-font-secondary: #666;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #222;
    --color-font-base: #fff;
    --color-font-secondary: #666;
  }
}

body {
  background-color: var(--color-background);
}
