html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* https://stackoverflow.com/a/45890842 */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 5px 4px 5px 4px;
  margin: 5px 0 5px 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus {
  outline: solid;
}
