.main {
  height: 100%;
  font-family: monospace;
  display: flex;
}

.window {
  height: 100%;
  display: grid;
  grid: auto auto auto 1fr auto / auto;
  padding: 0px 15px 0px 15px;
  z-index: 999998;
  width: 50vw;
}

.window.closed {
}

@media (max-width: 600px) {
  .window {
    width: 100vw;
    z-index: 999998;
  }

  .window.closed {
    display: none;
  }
}

.buttonbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonbarbig {
  padding-top: 40px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.bottombig {
  padding-bottom: 40px;
}

.sticky {
  position: sticky;
  top: calc(var(--rem) * 48);
  padding-left: calc(var(--col) * 2);
  padding-right: calc(var(--col) * 2);
  /* width: calc(var(--col) * 16); */

  overflow-y: auto;
  max-height: 100vh;
}
