.main {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.overview {
  width: 50vw;
}

@media (max-width: 600px) {
  .overview {
    width: 100vw;
    z-index: 999998;
  }

  .overview.closed {
    display: none;
  }
}

.buttonbar {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  position: fixed;
  bottom: 0;
  background-color: white;
}

@media (max-width: 600px) {
  .bottom {
    width: 50vw;
  }
}

.sidebar {
  box-sizing: border-box;
  width: 50vw;
  height: 100vh;

  flex-grow: 0;
  flex-shrink: 0;

  transition: width 0.3s ease;

  white-space: pre-wrap;

  background-color: white;
  z-index: 999998;
}

.sidebar.invisible {
  width: 0;

  transition: width 0.3s ease;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100vw;
    z-index: 999998;
  }

  .sidebar.invisible {
    display: none;
  }
}

.container {
  height: 100%;
}

.sticky {
  position: sticky;
  top: calc(var(--rem) * 48);
  padding-left: calc(var(--col) * 2);
  padding-right: calc(var(--col) * 2);
  /* width: calc(var(--col) * 16); */

  overflow-y: auto;
  max-height: 100vh;
}
