.sidebar {
  box-sizing: border-box;
  width: calc(var(--col) * 20);

  flex-grow: 0;
  flex-shrink: 0;

  transition: width 0.3s ease;

  white-space: pre-wrap;

  background-color: white;
  z-index: 999998;
}

.sidebar.invisible {
  width: 0;

  transition: width 0.3s ease;
}

/* @media (max-width: 600px) { */
/*   .sidebar { */
/*     display: none; */
/*   } */
/* } */

.container {
  height: 100%;
}

.sticky {
  position: sticky;
  top: calc(var(--rem) * 48);
  padding-left: calc(var(--col) * 2);
  padding-right: calc(var(--col) * 2);
  width: calc(var(--col) * 16);

  overflow-y: auto;
  max-height: 100vh;
}

.input {
  height: 40;
  margin: 12;
  borderwidth: 1;
  padding: 10;
}

.inputtext {
  height: 40vh;
  width: 100%;
  margin: 12;
  borderwidth: 1;
  padding: 10;
}

.buttonbar {
  display: flex;
  justify-content: space-between;
}
